/* component */


/* popup */
/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;
    &.active{display:flex;
        &.motion_end{
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.6;}
        }
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:908px;margin:30px auto; max-height:calc(100% - 60px); background:#fff; border-radius:16px; border:1px solid #BBBBBB; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
    &.no_transition{transition:0s;opacity:1;transform:none;}
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#000;opacity:0;transition:.5s;
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}
.popup_title_row{flex:0;padding:21px 26px;
    & + .popup_contents_row{padding-top:0;}
}
.popup_title{font-size:28px;color:$primary;font-weight:700;letter-spacing: -0.05em;line-height:1.3;}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:16px;color:#333333;padding:26px;
    & + .popup_btn_row{padding-top:0;}
}
.popup_btn_row{flex:0;padding:26px;display:flex;justify-content: center; position:relative; box-sizing: border-box;
    &:after{display:block;content:'';width:calc(100% - 10px);height:26px; position:absolute;top:-26px;left:0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    }
}
.btn_popup_close{display:inline-block;width:78px;height:78px;position:absolute;top:0;right:0;font-size:0;line-height:0;
    &:before,
    &:after{width:24px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#000; margin:-1px 0 0 -12px;
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
}
/* // 공통 popup */

input.quad_checkbox{box-sizing: border-box;border:1.5px solid #999;border-radius:4px;width:24px;appearance: none;width:24px;height:24px; cursor: pointer;
    &:checked{background:#fff url("../images/ico_checkbox_active.png") no-repeat 50% 50%/16px auto;}
}

.props_item_group{display:flex;flex-wrap:wrap;gap:16px;}
.props_item{display:flex; gap:6px;}
input.props_form{
    appearance: none;

    &[type="checkbox"]{
        width:16px;height:16px; background:#fff url("../images/ico_checkbox.png") no-repeat 0 0/100% auto;border-radius: 4px; border:1px solid #bbb;
        & + .props_label{position:relative;top:-1px;}
        &:checked{background-position:0 100%;background-color:$primary;border-color:$primary;}
    }
    &[type="radio"]{
        box-sizing: border-box;width:18px;height:18px;border:1px solid #BBBBBB;border-radius:100%; position:relative;top:3px;
        &:checked{background:url("../images/ico_radio_active.png") no-repeat 50% 50%/8px auto;border-color:#0F2139;}
        & + .props_label{font-size:18px;color:#0F2139;line-height:1.3;}
    }
    &:checked{
        & + .props_label{}
    }
}
.props_label{font-size:14px;color:$primary;font-weight:500;line-height:1.3;display:inline-block;cursor: pointer;}

.btn_submit{
    display:flex;min-height:60px;align-items:center;justify-content:center;border-radius:6px;background-color:$secondary;
    &.primary{background-color:$primary;}
    &.type2{display:flex;gap:16px;align-items: center;}
    .ico{
        width:24px;height:24px;flex:0 0 24px;background-repeat:no-repeat;background-size:100% auto; background-position:0 0;
        &.ico_finger{background-image:url("../images/ico_fingerprint.png")}
    }
}
.btn_submit_text{font-size:20px;color:#fff;line-height:1.3;font-weight:500;}


.flag_box{display:inline-flex;white-space: nowrap;align-items: center;height:24px;border-radius:100px;background:#0CA99F;color:#fff;font-size:12px;padding:0 12px;
    &.type2{background:#FFC35E;}
}
.box_marker_flag{
    display:flex;align-items:center;gap:5px;background:#FF823F; border-radius:100px;white-space:nowrap;padding:6px 8px;
    .ico{
        display:inline-block;background-size:100% auto;background-position:0 0;background-repeat:no-repeat;
        &.ico_emer{background-image:url("../images/ico_emergency.png");width:16px;height:12px;}
    }
}
.box_marker_flag_text{color:#fff;font-size:12px;line-height:1;display:inline-block;font-weight:700;}

.number{
    @include rubik;
    *{@include rubik;}
}


.btn_box_group{display:flex;justify-content: center;align-items: center;gap:20px;margin-top:40px;}
.btn_box{
    display:inline-flex;align-items:center;justify-content:center; background:$secondary;
    &.size_submit{
        min-width:180px;min-height:60px;border-radius:8px;
        .btn_box_text{font-size:20px;}
    }
    &.primary{background-color:$primary2;}
    &.skin2{background-color:#FFC35E;}
}
.btn_box_text{font-size:16px;color:#fff;line-height:1;display:inline-block;font-weight:600;}





/* paging */
.paging_wrap {margin-top:80px; display:flex;justify-content: center; align-items: center;gap:8px;}
.paging_control,
.paging_number{display: inline-flex;  align-items:center; justify-content:center; width: 40px;height: 40px;border:1px solid #ddd;border-radius:100%;background: #fff;font-size:12px;}
.paging_number_group{display:flex;align-items: center;gap:8px;justify-content: center}

.paging_number{@include rubik; color:#999; font-size:16px;
    &.active,
    &:focus,&:hover{background:$primary; color:#fff;font-family: 'Rubik Bold';border-color:$primary}
    &.active{cursor: default;}
}

.paging_control{
    flex:0 0 40px;
    &:before{display:block;content:'';width:12px;height:10px; background-repeat:no-repeat; background-size:100% auto; background-position:0 0;}

    &.prev:before,
    &.next:before{width:6px;height:10px;}

    &.first:before{background-image:url("../images/ico_paging_first.svg");}
    &.prev:before{background-image:url("../images/ico_paging_prev.svg");}
    &.next:before{background-image:url("../images/ico_paging_next.svg");}
    &.last:before{background-image:url("../images/ico_paging_last.svg");}

    &.disabled{
        cursor: default;
        &:before{opacity:.3}
    }
    &:focus,
    &:hover{
        &:before{
            background-position:0 100%
        }
    }
}
/* // paging */


input.form_input{font-size:18px;line-height:1; box-sizing:border-box;height:24px;border:0;appearance: none;width:100%;font-weight:500;color:#0F2139;}


.form_textarea_wrap{}
textarea.form_textarea{vertical-align: top;width:100%;height:395px;padding:0;box-sizing: border-box;border:0;font-size:18px;line-height:1;color:#0F2139;font-weight:600;}