/* contents */

.main_contents_wrap{display:flex;flex-direction: column;height:100%;box-sizing: border-box;padding:0 24px 24px;}
.mc_liquid_row{flex:1;display:flex;align-items: center;padding:24px 0;}
.mc_pixed_row{flex:0;display:flex;flex-direction: column;gap:68px;}
.mc_main_copy{
    font-weight: 200;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    word-break: keep-all;
    color: #FFFFFF;
}
.mc_card_banner_list{
    display:flex; flex-direction: column; gap: 16px;
    >li{display:flex;justify-content: flex-end;}
}
.mc_card_banner{display:flex;padding:16px;border-radius:16px;background:#00D4E9; box-sizing: border-box;width:200px; align-items: flex-end;
    &.type2{
        background:#FEB700;
        &:after{
            background-image:url("../images/ico_mcimg_02.png");
        }
    }
    &:after{
        display:block;content:'';width:65px;height:48px;background:url("../images/ico_mcimg_01.png") no-repeat 0 0/100% auto;flex:0 0 65px;
    }
}
.mc_card_copy_cols{
    flex:1;min-width:0;
    &:after{display:block;content:'';width:24px;height:24px;background:url("../images/ico_direct_go.svg") no-repeat 0 0/100% auto;margin-top:6px;}
}
.mc_card_copy{font-size:16px;color:#333333; line-height:1.3;font-weight:600;}

.mc_quad_menu_list{
    display:flex; gap:12px;
    > li{flex:1;}
}
.mc_quad_menu{
    display:block;text-align:center; padding:17px 0;
    .ico{
        width:24px;height:24px;background:url("../images/ico_quick_01.svg") no-repeat 50% 50%/100% auto;margin:0 auto;
        &.ico_docu{background-image:url("../images/ico_quick_01.svg");}
        &.ico_chart{background-image:url("../images/ico_quick_02.svg");}
        &.ico_notice{background-image:url("../images/ico_quick_03.svg");}
    }
    border-radius:16px;background:rgba(0,0,0,.4);display:block;
}
.mc_quad_text{font-size:14px;color:#fff;line-height:1; font-weight:500;margin-top:8px;}


.form_step_list_wrap{padding:20px;display:flex;gap:12px;justify-content: space-between;}
.form_step_list_cols{}
.form_step_active_list{
    display:flex;gap:12px; flex-wrap:wrap;
    >li{}
    .form_step_item{
        .form_step_number{background:$primary; color:#333;}
    }
}
.form_step_beactive_list{
    display:flex;gap:12px; flex-wrap:wrap;
    >li{}
}
.form_step_item{display:flex; align-items: center;gap:8px;overflow:hidden;width:32px;height:32px;white-space: nowrap;
    &.current{width:auto;height:auto;
        
    }
}
.form_step_number{display:flex;justify-content: center;align-items: center;width:32px;height:32px;flex:0 0 32px;border-radius: 100%; @include rubik_medium; background:#EEEEEE; color:#ccc;font-size:14px;}
.form_step_text{font-size:14px;color:#333333; font-weight:700;}

.form_step_contents_wrap{padding:12px 20px 20px}
.form_step_title{font-size:18px;color:#333333;font-weight:700;line-height:1.3;}
.form_step_contents{padding:20px 0 0}
.form_step_block{
    .form_step_title{}
    .form_step_contents{}
    &:last-of-type{}
}

.finish_copy_zone{}
.finish_copy_img{
    img{}
}
.finish_copy_group{}
.finish_copy{
    strong{}
}

.form_column_container{}
.form_column_table{
    >li{}
}
.form_column_item{}
.form_column_label{}
.form_column_field_row{
    input.form_input{}
    .form_note_list{}
}

.form_props_list{
    > li{}
}
.form_props_box{

}
input.form_props_element{
    &:checked{

        & + .form_props_elabel{
            &:after{}
        }
    }
}
.form_props_elabel{
    &:after{}
}

.field_sub_form_wrap{
    .props_item{}
}

.btn_upload{
    &.btn_file_upload{}
    &.btn_camera{}
}

.form_note_list{
    >li{
        &:before{}
        &:last-of-type{}
    }
}


.upload_item_box_list{
    > li{}
}
.upload_item_box{
    img{}
}
.btn_upload_delete{}

.clauses_form_container{}
.clauses_form_list{
    >li{
        &:last-of-type{}
        .props_item{}
    }
}
.props_else_group{
    .btn_text_link{}
}

.emp_tape_copy_box{}
.emp_tape_copy{}
.emp_tape_else_wrap{
    .current_text{}
}

.bar_chart_group{
    &.before{
        .current_fraction{}
        .indent_chart_item{}
        .indent_chart_num{}
        .indent_chart_value{}
        .data_chart_number_group{}
    }
}
.bar_chart_item{
    &:last-of-type{}

    &.type2{
        .current_fraction{}
        .indent_chart_item{}
        .data_chart_number_group{}
    }
}
.current_fraction{}
.bar_chart_cols{}
.indent_chart_item{}
.indent_chart_num{}
.indent_chart_value{}
.data_chart_number_group{}
.data_chart_number{}
.data_chart_unit{}

.board_sort_field_wrap{}
.board_sort_field_cols{
    &.short_wid{}
}
select.board_select{}
.input_sort_wrap{}
input.input_sort{}
.btn_board_sort{}

.board_data_list_wrap{}
.board_data_list{
    > li{
        &:last-of-type{}
        &.nodata_li{
            .nodata_para{}
        }
    }
}
.nodata_para{}

.board_data_item{
    &.type2{
        .board_data_long_cols{}
        .board_data_short_cols{
            .current_text{}
        }
        .board_data_title{}
        .board_data_else{}
    }
}
.board_data_long_cols{}
.board_data_short_cols{
    .current_text{}
}
.board_data_title{}
.board_data_else{}


.board_item_list_wrap{}
.board_item_list{
    >li{
        &.nodata_li{
            .nodata_para{}
        }
    }
}
.board_item{

}
.board_flag_row{
    .flag_box{}
}

.board_main_title{}
.board_else_row{}
.board_else_data_list{
    >li{
        &.type2{

        }
    }
}
.board_else_data{}
.board_else_count{}
.board_else_count_text{}
.ico_board{
    &.eye{}
}

.view_contents_wrap{
}
.view_top_group{}
.view_top_flag_row{
    .flag_box{}
}
.view_top_title{}
.view_top_else{}
.view_data_render{
    *{}
}

.view_linkage_row{

}
.view_count_item{
    &:before{}
}
.view_count_text{}

.view_neighbor_row{

}

.view_neighbor_list{
    >li{
        &:last-of-type{}
    }
}

.view_neighbor_cols{
    &.define_th{}
    &.define_td{}
}

.view_neighbor_key{}
.view_neighbor_title{}


.form_textarea_wrap{}
.form_textarea{}