

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./webfont/Pretendard-Black.woff2') format('woff2'), url('./webfont/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./webfont/Pretendard-ExtraBold.woff2') format('woff2'), url('./webfont/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./webfont/Pretendard-Bold.woff2') format('woff2'), url('./webfont/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./webfont/Pretendard-SemiBold.woff2') format('woff2'), url('./webfont/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./webfont/Pretendard-Medium.woff2') format('woff2'), url('./webfont/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./webfont/Pretendard-Regular.woff2') format('woff2'), url('./webfont/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./webfont/Pretendard-Light.woff2') format('woff2'), url('./webfont/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./webfont/Pretendard-ExtraLight.woff2') format('woff2'), url('./webfont/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./webfont/Pretendard-Thin.woff2') format('woff2'), url('./webfont/Pretendard-Thin.woff') format('woff');
}



@font-face {
    font-family: 'Rubik Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Regular'), url('./webfont/Rubik-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Italic'), url('./webfont/Rubik-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Light';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Light'), url('./webfont/Rubik-Light.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Light Italic'), url('./webfont/Rubik-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Medium'), url('./webfont/Rubik-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Medium Italic'), url('./webfont/Rubik-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Bold'), url('./webfont/Rubik-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Bold Italic'), url('./webfont/Rubik-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Black';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Black'), url('./webfont/Rubik-Black.woff') format('woff');
}


@font-face {
    font-family: 'Rubik Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Black Italic'), url('./webfont/Rubik-BlackItalic.woff') format('woff');
}