/* splash */
.splash_main_item_wrap{flex:1;display:flex;align-items: center; justify-content: center;}
.splash_main_item_wrap{display:flex;flex-direction: column;gap:16px;}
.splash_sub_copy{font-size:20px;color:#fff; font-weight:300;}
.splash_bottom_logo{position:absolute;bottom:60px;left:0;width:100%;text-align: center;display:flex;align-items: flex-start;justify-content: center;}

/* contents */
.main_contents_wrap{display:flex;flex-direction: column;height:100%;box-sizing: border-box;padding:0 24px 32px;}
.mc_liquid_row{flex:1;display:flex;align-items: center;padding:24px 0;}
.mc_pixed_row{flex:0;display:flex;flex-direction: column;gap:68px;}
.mc_main_copy{
    font-weight: 200;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    word-break: keep-all;
    color: #FFFFFF;
}
.mc_card_banner_list{
    display:flex; flex-direction: column; gap: 16px;
    >li{display:flex;justify-content: flex-end;}
}
.mc_card_banner{display:flex;padding:16px;border-radius:16px;background:#00D4E9; box-sizing: border-box;width:200px; align-items: flex-end;
    &.type2{
        background:$primary;
        &:after{
            background-image:url("../images/ico_mcimg_02.png");
        }
    }
    &:after{
        display:block;content:'';width:65px;height:48px;background:url("../images/ico_mcimg_01.png") no-repeat 0 0/100% auto;flex:0 0 65px;
    }
}
.mc_card_copy_cols{
    flex:1;min-width:0;
    &:after{display:block;content:'';width:24px;height:24px;background:url("../images/ico_direct_go.svg") no-repeat 0 0/100% auto;margin-top:6px;}
}
.mc_card_copy{font-size:16px;color:#333333; line-height:1.3;font-weight:600;}

.mc_quad_menu_list{
    display:flex; gap:12px;
    > li{flex:1;}
}
.mc_quad_menu{
    display:block;text-align:center; padding:17px 0;
    .ico{
        width:24px;height:24px;background:url("../images/ico_quick_01.svg") no-repeat 50% 50%/100% auto;margin:0 auto;
        &.ico_docu{background-image:url("../images/ico_quick_01.svg");}
        &.ico_chart{background-image:url("../images/ico_quick_02.svg");}
        &.ico_notice{background-image:url("../images/ico_quick_03.svg");}
    }
    border-radius:16px;background:rgba(0,0,0,.4);display:block;
}
.mc_quad_text{font-size:14px;color:#fff;line-height:1; font-weight:500;margin-top:8px;}

.mc_bottom_menu_wrap{background:#fff;padding:0 20px;}
.bottom_menu_list_wrap{
    background: #FFFFFF;
        box-shadow: 0px -2px 2px rgba(17, 17, 17, 0.1);
}
.bottom_menu_list{
    display:flex; text-align: center;padding-bottom:16px;
    > li{flex:1;position:relative;min-width:0;}
}
.bottom_menu{display:flex; align-items: center;text-align: center;}
.bottom_menu_text{font-size:12px;color:#999999; margin-top:5px; font-weight:600; text-align: center;}
.bottom_menu{
    display:flex; justify-content:center; align-items: center; height:100%; position:relative; min-height:62px; box-sizing: border-box; flex-direction: column;
    &:after{display:block;opacity:0;content:'';width:100%;height:2px; background:$primary; position:absolute;top:0;left:0;}
    &:active,
    &.active{
        &:after{opacity:1;}
        .ico_bottom{
            &.ico_home{background-image:url("../images/ico_menu_home_active.svg");}
            &.ico_docu{background-image:url("../images/ico_menu_notice_active.svg");}
            &.ico_my{background-image:url("../images/ico_menu_my_active.svg");}
        }
        .bottom_menu_text{color:$primary}
    }
}
.ico_bottom{
    width:20px;height:20px; background-repeat:no-repeat;background-size:100% auto; background-position:0 0;
    &.ico_home{background-image:url("../images/ico_menu_home.svg");}
    &.ico_docu{background-image:url("../images/ico_menu_notice.svg");}
    &.ico_my{background-image:url("../images/ico_menu_my.svg");}
}

.form_step_list_wrap{padding:20px;}
.form_step_list_cols{}
.form_step_active_list{
    display:flex;gap:12px; flex-wrap:wrap;
    >li{}
    .form_step_item{
        .form_step_number{background:$primary; color:#333;}
    }
}
.form_step_list{
    display:flex;gap:12px; flex-wrap:wrap;
    >li{
        &.visit_active{
            .form_step_item{
                .form_step_number{background:$primary; color:#333;}
            }
        }
        &.active{
            flex:1;
            .form_step_item{
                width:auto;height:auto;
                .form_step_number{background:$primary; color:#333;}
            }
        }
    }
    /* .form_step_item{
        .form_step_number{background:$primary; color:#333;}
    } */
}
.form_step_beactive_list{
    display:flex;gap:12px; flex-wrap:wrap;
    >li{}
}
.form_step_item{display:flex; align-items: center;gap:8px;overflow:hidden;width:32px;height:32px;white-space: nowrap;
    &.current{width:auto;height:auto;
        
    }
    &.active{
        width:auto;height:auto;flex:1;
        .form_step_number{background:$primary; color:#333;}
    }
}
.form_step_number{display:flex;justify-content: center;align-items: center;width:32px;height:32px;flex:0 0 32px;border-radius: 100%; @include rubik_medium; background:#EEEEEE; color:#ccc;font-size:14px;}
.form_step_text{font-size:14px;color:#333333; font-weight:700;}

.form_step_contents_wrap{padding:12px 20px 20px;flex:1;flex-direction: column; display:flex; 
    .form_column_container{width:100%;padding-top:20px;}
    > .step_guide_copy_zone{flex:1;display:flex; flex-direction: column; justify-content: center; align-items: center;margin:0;}
    > .form_step_contents_wrap{padding:0;}
}
.form_step_agree_wrap{border-bottom:1px solid #eee;margin:0 -20px;padding:8px 20px 20px;
    &.type2{
        margin:0; padding:20px;
    }
    &.type3{
        margin:0; padding:12px 20px 20px;
    }
    .fs_props_title{margin-bottom:12px;}
}
.fs_props_title{font-size:18px;color:#333;font-weight:700;letter-spacing: -0.05em;}
.fs_main_agree_copy{
    font-size:17px; font-weight:500; color:#333333; line-height:1.4; word-break: keep-all;
    strong{font-weight:700;color:#00D4E9;word-break: keep-all;}
}
.fs_agree_copybox{margin-top:20px;background:#EEEEEE; border-radius:8px;padding:10px;color:#999999;font-size:12px;letter-spacing: -0.05em; text-align: center;line-height:1.4;}
.fs_props_row{margin-top:20px;text-align: left;display:flex;justify-content: center;
    &:first-of-type{margin-top:0}
}
.form_step_title{font-size:18px;color:#333333;font-weight:700;line-height:1.3;margin-bottom:20px;}
.form_step_title_wrap{
    margin-bottom:20px;display:flex; align-items: center; justify-content: space-between;
    .form_step_title{margin-bottom:0;}
}
.form_step_title_else_wrap{
    .props_item{position:relative;top:2px;}
}
.form_step_contents{}
.form_step_block{
    margin-bottom:32px;
    .form_step_title{}
    .form_step_contents{}
    &:last-of-type{margin-bottom:0;}
}

.step_guide_copy_zone{text-align: center;flex:1;display:flex; flex-direction: column; justify-content: center; align-items: center;margin:0;}
.step_guide_copy_img{
    max-width:148px;margin:0 auto;
    img{vertical-align: top;}
}
.step_guide_copy_group{
    &.type2{
        .step_guide_copy{margin-top:5px;}
    }
}
.step_guide_copy{
    margin-top:20px; font-size:16px; color:#333333; font-weight:500;
    strong{color:#00D4E9; font-weight:700;}
}
.form_column_zone{padding:20px 20px 60px;box-sizing: border-box;flex:1; display:flex; flex-direction: column;
    &.align_type2{
        align-items: center; justify-content: center;
    }
    .form_note_box{
        &.type2{
            margin-left:-20px;margin-right:-20px;
        }
    }
    &.type2{padding-bottom:0;}
    .step_guide_copy_zone{margin:0;padding: 0 0 0 0;}
}
.form_column_block_group{
    margin-top:10px;
    .form_column_block{}
}
.form_column_block{
    border-bottom:1px solid #eee; padding:30px 20px;
    &:first-of-type{padding-top:0;}
        &:last-of-type{border-bottom:0;}
}
.data_card_box{
    border:1px solid #EEEEEE; border-radius:8px;padding:20px; display:flex; align-items: center;
}
.data_card_cols{
    &.short_wid{padding-right:16px; flex:0; white-space: nowrap; position:relative;
        
        &:after{display:block;content:'';width:1px;height:30px;background:#999999;position:absolute;top:50%;right:0;transform: translateY(-50%);}
    }
    &.long_wid{padding-left:16px;}
}
.name_render_wrap{display:inline-flex;align-items: center;}
.name_render_main,
.name_render_unit{display:inline-block;color:#000000;line-height:1;}
.name_render_main{font-size:20px;font-weight:700;}
.name_render_unit{font-size:16px;font-weight:500;position:relative;top:1px;}

.data_obj_tb{display:table;}
.data_obj_tr{display:table-row;
    &:last-of-type{
        .data_obj_td{padding-bottom:0;}
    }
}
.data_obj_td{
    display:table-cell;padding-bottom:12px;
    &.define_th{width:1px;white-space: nowrap;padding-right:20px;
    }
    &.define_td{}
}
.data_obj_key,
.data_obj_value{font-size:14px;display:inline-block;}
.data_obj_key{font-size:14px;font-weight:600;color:#999999;white-space: nowrap;}
.data_obj_value{font-size:14px;color:#333333;}


.form_column_container{text-align: left;
    
    &.form_column_block{
        margin:0 -20px;
        &:first-of-type{padding-top:0;}
        &:last-of-type{border-bottom:0;}
        &.mtype2{
            margin:0 0;
        }
    }

    &.view_mode{
        .form_column_field_row{
            &.origin{display:none;}
            &.view{display:block;}
        }
    }
    .form_column_field_row{
        &.origin{display:block;}
        &.view{display:none;}
    }

    &.type2{padding:30px 20px 60px;}
}
.form_column_block_title{font-size:14px;font-weight:500;color:#999999;margin-bottom:32px;
    &.type2{margin-bottom:10px;}
}
.form_column_table{
    >li{
        margin-bottom:32px;
        &:last-of-type{margin-bottom:0 !important;}
    }
    &.gap_type2{
        >li{margin-bottom:28px;}
    }
}
.form_column_item{border-bottom:2px solid #333333;
    &.box_type{
        border:1px solid #EEEEEE; border-radius:8px; padding:12px 0 0; position:relative; overflow: hidden;
        .form_column_label{}
    }
    &.type2{border-bottom:0;}
}
.form_column_label{margin:0 12px;font-weight:600;color:#999999;}
.import_flag{color:#F65742; font-weight:700; font-size:14px; line-height:1; display:inline-block;
    &:after{display:inline-block;content:'*';}
}
.form_column_field_row{
    display:flex; align-items: center; gap:10px;
    > input.form_input{flex:1;}
    .form_note_list{}
    &.type2{
        display:block;
    }
    .props_item_list{margin:8px 12px 0;}
}
.form_column_field_wrap{
    &.type2{
        border-bottom:0;
        .form_column_field_row{border-bottom:0;margin-bottom:0;}
    }
    .form_column_field_row{
        border-bottom:2px solid #333333;margin-bottom:10px;
        &.type2{
            border-bottom:0;
        }
        &:last-of-type{margin-bottom:0;}
    }
}

.form_column_sub_item{margin-top:10px;}

.form_column_control_cols{padding:0 12px 0 0;position:relative;text-align: right;}
.control_message_para{font-size:12px; font-weight:500; color:#00D4E9; position:absolute;bottom:calc(100% + 8px);right:12px;white-space: nowrap;}
.btn_control_box{display:inline-block;padding:7px 10px;border-radius:4px; box-sizing: border-box; background-color:$primary; color:#fff; font-size:12px; font-weight:700; line-height:1; text-align: center;
    &.min_wid2{min-width:72px}
}

.form_each_message_wrap{margin-top:10px;}
.form_each_message{
    display:block; position:relative; padding:1px 0 0 18px;
    &:before{display:block;content:'';width:16px;height:16px;background:url("../images/ico_info_sky.svg") no-repeat 50% 50%/100% auto; position:absolute;top:0;left:0;}
    color:#00D4E9; font-weight:600; font-size:12px;

    &.type2{
        &:before{background-image:url("../images/ico_info.svg")}
        color:#999; font-weight:600; font-size:12px;
    }
}

.form_column_message_wrap{margin:24px 0 0 0;}
.form_column_message{font-size:14px; letter-spacing: -0.5px; color:$primary; line-height:1.4;}

.result_render_box{text-align: center; border-radius:8px;background:#EEEEEE;padding:10px;
    & + .form_column_container{margin-top:16px;}
}
.result_render_key{font-size:14px; color:#999999; line-height:1.3;}
.result_render_value{font-size:18px; font-weight:700; color:#333333; font-weight:700;margin-top:5px;}


.inline_form_container{display:flex;width:100%;align-items: center;}
.inline_form_cols{
    flex:1; border-bottom:2px solid #333;
    &.else{border-bottom-color:transparent;flex:0;padding:0 12px;}
    input.form_input{}
}
.inline_form_else_text{font-size:16px;color:#999999; font-weight:500; white-space: nowrap; display:inline-block;}

.boxform_textarea_wrap{width:100%;}
.boxform_textarea{vertical-align: top;font-size:16px; resize: none;padding:12px; border:0;width:100%; height:150px; box-sizing: border-box;
    &::placeholder{color:#ddd;font-family: 'Pretendard'; font-weight:400;}
}

.form_props_list{
    > li{}
}
.form_props_box{

}
input.form_props_element{
    &:checked{

        & + .form_props_elabel{
            &:after{}
        }
    }
}
.form_props_elabel{
    &:after{}
}

.field_sub_form_wrap{
    .props_item{}
}

.form_note_list{
    margin-top:12px; 
    &.mtype2{
        margin-top:16px;
    }
    >li{
        position:relative; padding-left:20px; font-size:12px; font-weight:600; color:#999999; line-height:1.3; word-break: keep-all; margin-bottom:6px;
        &:before{display:block;content:'';width:16px;height:16px; background:url("../images/ico_info.svg") no-repeat 50% 50%/100% auto;position:absolute;top:-1px;left:0;}
        
        &:last-of-type{margin-bottom:0}
    }
    &.align2{
        text-align: center;
        >li{
            padding-left:0;
            &:before{position:relative;top:3.5px;display:inline-block;margin-right:3px;}
        }
    }
    &.skin2{
        >li{
            color:#00D4E9;
            &:before{background-image:url("../images/ico_info2.svg");}
        }
    }
}

.form_props_wrap{display:flex;gap:10px;width:100%;
    &.skin2{
        .form_props_cols{}
        .form_props_label{border:1px solid #BBBBBB; border-radius:12px; font-weight:600;
            &:before{display:none;}
        }
        input.form_props{
            &:checked{
                + .form_props_label{background-color:$primary; border-color:$primary;}
            }
        }
    }
}
.form_props_cols{flex:1; display:flex; align-items: flex-start;}
input.form_props{appearance: none;width:0;height:0;overflow: hidden; opacity:0;
    &:checked + .form_props_label{
        color:#333; border-color:#333;
        &:before{width:21px;flex-basis: 21px;}
    }
}

.form_props_label{border-bottom:2px solid #999;width:100%;display:flex;align-items: center;min-height:43px;justify-content: center;font-size:16px;color:#999;font-weight:500; box-sizing: border-box; cursor: pointer;
    &:before{display:inline-block;content:'';width:0;height:20px;background:url("../images/ico_only_checkbox.svg") no-repeat 0 0/100% auto;flex:0;}
}


.control_option_list{
    > li{display:flex;align-items: center;gap:8px;margin-bottom:24px;
        &:last-of-type{margin-bottom:0;}
    }
}
.control_option_inline_group{
    display:flex;align-items: center;gap:8px;
    &.align2{
        justify-content: space-between;width:100%;
        .control_option_key{}
        .control_option_value{}
    }
}
.control_option_key{font-size:16px;color:#333333;display:inline-block;line-height:1;font-weight:500;}
.control_option_value{}



.upload_item_box_list{
    display:flex; flex-wrap:wrap; margin-right:-10px;margin-top:10px; gap:10px;
    > li{flex:0 0 calc(33.3333333% - 10px); min-width:0;}
}
.upload_item_box{
    display:block;position:relative; border-radius: 8px; overflow: hidden;height:0;padding-bottom:100%;
    > img{vertical-align: top;position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover; object-position: 50% 50%;}
}
.btn_upload_delete{position:absolute;top:8px;right:8px;background:url("../images/ico_upload_delete.svg") no-repeat 0 0/100% auto;width:20px;height:20px;}


.btn_upload{
    position:relative; height:0; width:100%; padding-bottom:100%;  vertical-align: top;
    input[type="file"]{position:absolute;top:0;left:0;width:100%;height:100%;cursor: pointer; color:transparent;
        &::file-selector-button {
            display: none;
        }
    }
    &.btn_file_upload{background:url("../images/ico_plus.svg") no-repeat 50% 50%/18px auto;}
    &.btn_camera{background:url("../images/ico_camera.svg") no-repeat 50% 50%/24px auto;}
}


.clauses_form_container{margin-top:20px;
    &.mtype2{margin-top:0;}
    &.type2{
        margin:20px; flex:1;
    }
}
.clauses_form_list{
    >li{
        display : flex; align-items: center; justify-content: space-between; margin-bottom:18px;
        &:last-of-type{margin-bottom:0;}
        .props_item{}
        &.type2{
            display:block;
        }
    }
}

.clauses_terms_wrap{margin:20px 0 0 0;}
.cterms_para{font-size:12px;letter-spacing: -0.05em;color:#333; font-weight:600; word-break: keep-all;margin-bottom:10px; line-height:1.4;}
.cterms_box{border-radius:8px;background:#EEEEEE;padding:10px;}
.cterms_table{
    width:100%; table-layout: fixed;
    thead{
        th{
            font-size:12px; font-weight:700; color:#333; line-height:1;padding:5px; border-bottom:1px solid #333333;
            &:last-of-type{}
        }
    }
    tbody{
        td{
            padding:10px 5px;
            &:last-of-type{}
        }
    }
}
.cterms_tdpara{
    color:#999999; font-size:12px; font-weight:500; letter-spacing: -0.05em; word-break: keep-all;
    &.size2{font-size:16px;}
    &.emp{color:#00D4E9; font-weight:700;}
}
.cterms_props_row{margin-top:10px;}

.middle_bottom_contents{flex:0;margin-top:20px;
    &.mtype2{padding:20px;}
    > .bottom_menu_list_wrap{
        
    }
}
.submit_top_message{font-size:14px;font-weight:500;color:#999999;line-height:1.4;text-align: center;word-break: keep-all;padding:0 20px 0;}


.submit_top_cont_group{text-align: center;margin:0 20px 30px;}
.submit_top_cont{
    &:last-of-type{}
}

.props_else_group{
    position:relative;top:-1px;
    .btn_text_link{}
}

.emp_tape_copy_box{margin-top:16px;background:rgba(254,183,0,.2);padding:20px; text-align: center;}
.emp_tape_copy{font-size:24px; font-weight:500; color:#333333; line-height:1.3; letter-spacing: -0.05em; word-break: keep-all; font-weight: 500;}
.emp_tape_else_wrap{
    margin-top:8px;
    .current_text{}
}

.bar_chart_group{
    padding:40px 20px;
    &.before{
        .current_fraction{display:none;}
        .indent_chart_item{}
        .indent_chart_num{opacity:0;}
        .indent_chart_value{font-size:16px;color:#666666;}
        .data_chart_number_group{display:none;}
    }
}
.bar_chart_item{
    margin-bottom:8px; background:#F5F5F5; box-sizing:border-box;padding:16px; border-radius:8px; min-height:54px; position:relative; overflow:hidden; display:flex; justify-content: space-between; align-items: center;
    &:last-of-type{margin-bottom:0;}

    &.type2{
        opacity:.4;
        .current_fraction{}
        .indent_chart_item{}
        .data_chart_number_group{}
    }
}
.current_fraction{position:absolute;top:0;left:0;height:100%;background-color:$primary}
.bar_chart_cols{position:relative;z-index:1;}
.indent_chart_item{display:flex;gap:8px; align-items: center;}
.indent_chart_num{font-size:18px; color:#CB6000; font-weight:900;white-space: nowrap; @include roboto;font-weight: 700;}
.indent_chart_value{font-size:18px; font-weight:500; letter-spacing: -0.05em; color:#333;}
.data_chart_number_group{display:flex; font-size:18px; align-items: center; white-space: nowrap; gap:4px; color:#CB6000; opacity:.6;  @include roboto;}
.data_chart_number,
.data_chart_unit{font-size:18px; font-weight:900;}

.board_sort_field_wrap{border-bottom:3px solid $primary;display:flex;align-items: center;gap:16px;margin:0 20px;
    & + .count_obj_list_wrap{margin-top:20px;}
}
.board_sort_field_cols{
    flex:1;display:flex; align-items: center;
    &.short_wid{flex:0 0 88px;
        select.board_select{width:100%;}
    }
}




.input_sort_wrap{flex:1;min-width:0;}
input.input_sort{appearance: none;width:100%;box-sizing: border-box; line-height:1; font-size:16px; color:#333;border:0;height:45px;padding:0 8px; font-weight:600; letter-spacing: -0.05em; 

    &::placeholder{font-size:14px;}
}
.btn_board_sort{display:block;width:45px;height:45px;background:url("../images/ico_search.svg") no-repeat 50% 50%/24px auto;flex:0 0 45px;}

/* .board_item_list_wrap{margin:0 20px 50px;}
.board_item_list{
    > li{
        padding:32px 0;border-bottom:1px solid #E1E1E1;
        &:last-of-type{}
        &.nodata_li{
            padding:100px 20px;
            .nodata_para{text-align: center;font-size:14px;color:#999999;}
        }
    }
}
.nodata_para{} */

.board_data_item{
    display:flex; gap:15px; align-items: center;
    &.type2{
        .board_data_long_cols{}
        .board_data_short_cols{
            .current_text{color:#999999}
        }
        .board_data_title{color:#999;}
        .board_data_else{color:#bbb;}
    }
}
.board_data_long_cols{flex:1; min-width:0;}
.board_data_short_cols{
    flex:0;
}
.current_text{display:inline-block;white-space: nowrap;font-size:14px;font-weight:700;color:$primary;line-height:1;}
.board_data_title{font-size:16px; @include clamp(2); color:#000; line-height:1.3; font-weight:500;}
.board_data_else{font-size:14px; color:#999999;line-height:1.3;margin-top:12px;
    &.number{@include roboto;}
}


.board_item_list_wrap{flex:1;padding:0 20px 20px;display:flex; flex-direction: column;}
.board_item_list{
    display:flex; flex-direction: column; flex:1;
    >li{
        border-bottom:1px solid #E1E1E1;padding:20px 0;
        &:last-of-type{border-bottom:0;padding-bottom:0}
        &.nodata_li{
            /* padding:100px 20px; */box-sizing:border-box; flex:1; display:flex; align-items: center; width:100%; justify-content: center; margin-bottom:-38px; box-sizing: border-box;
            /* .nodata_para{text-align: center;font-size:14px;color:#999999;} */
        }
    }
}
.board_flex_item{display:flex; align-items: center; gap:16px;}
.board_short_cols{flex:0;}
.board_item_number{font-size:14px; font-weight:600; @include rubik_medium; line-height:1; white-space: nowrap;}
.board_long_cols{flex:1;}
.board_item_summary_tb{display:table;width:100%;}
.board_item_summary_tr{display:table-row;
    &:last-of-type{
        .board_item_summary_th,
        .board_item_summary_td{padding-bottom:0;}
    }
}
.board_item_summary_th{
    display:table-cell;vertical-align: middle; width:1px;padding-right:8px;padding-bottom:6px;
    .board_flag{width:100%;}
}
.board_item_summary_td{
    display:table-cell;vertical-align: middle;padding-bottom:6px;
}
.board_flag{font-size:12px;color:#fff; font-weight:900; background:$primary; border-radius:4px; line-height:1;display:inline-block; white-space: nowrap;padding:5px 10px;text-align: center; box-sizing: border-box;
    &.type2{background-color:#333333;}
}
.board_summary_text{font-size:14px;color:#333333; font-weight:500;}

.nodata_para_group{text-align: center;
}
.nodata_para{font-size:16px;color:#333333;}
.nodata_para_img_wrap{
    text-align: center; margin-bottom:20px;
    img{
        vertical-align: top;
        &.nodata_img{
            &.img_bell{max-width:88px;}
        }
    }
}
.board_item{
    display:block;
}
.board_flex_item{
}
.board_flag_row{
    .flag_box{}
}
.board_item_number{}

.board_indent_item{display:flex;gap:8px;align-items: center;}
.board_indent_bullet{
    &.box_ico_text{}
}
.board_indent_liquid{flex:1;min-width:0;font-weight:500;font-size:16px;color:#000000; @include clamp(1);}
.box_ico_text{display:flex;align-items: center; justify-content: center; background:$primary; border-radius:4px;width:26px;height:26px; flex:0 0 26px;
    &:after{display:block;content:'Q';font-family: "Inter";font-weight:800;color:#fff;}
    &.type2{
        background:#00D4E9;
        &:after{content:'A';} 
    }
}

.board_main_title{font-size:16px; color:#000000; @include clamp(1); font-weight:500;margin-top:8px;}
.board_else_row{margin-top:16px;}
.board_else_data_list{
    display:flex;gap:8px; align-items: center;
    >li{
        &.type2{
            flex:1; display:flex; justify-content: flex-end;
        }
    }
}
.board_else_data{font-size:14px;color:#999999;line-height:1;display:inline-block; font-weight:500;
    &.number{@include roboto;}
}
.board_else_count{display:inline-flex;gap:2px;
    &:before{display:inline-block;content:'';width:14px;height:14px;background:url("../images/ico_eye.svg") no-repeat 0 0/100% auto;}
}
.board_else_count_text{font-size:14px;color:#999999;line-height:1;display:inline-block; @include roboto;}
.ico_board{
    &.eye{}
}

.view_contents_wrap{
   flex:1; display:flex; flex-direction: column;
}
.view_top_group{border-bottom:1px solid #FEB700;padding:16px 20px;
    &.type2{border-color:#999;}
}
.view_top_flag_row{
    margin-bottom:5px;
    .flag_box{}
}
.view_top_title{font-size:20px;color:#333;line-height:1.3; font-weight:700;}
.view_top_else{font-size:14px;color:#999999;line-height:1;display:inline-block; @include roboto; margin-top:13px;}
.view_data_render{
    flex:1; min-height:0;padding:20px 20px 50px; font-size:14px;color:#333333; line-height:1.5;
    *{word-break: break-all !important;}
    img{width:auto !important; height: auto !important; max-width:100% !important;}
}
.view_article_render{
    flex:1; min-height:0;padding:20px 20px 50px; font-size:14px;color:#333333; line-height:1.5; font-weight:500;
    *{word-break: break-all !important;}
    img{width:auto !important; height: auto !important; max-width:100% !important;}
}
.view_article_flag_row{margin-bottom:5px;}
.view_linkage_row{
    display:flex; justify-content: flex-end; padding:0 20px;
}
.view_count_text{font-size:14px;color:#999999; @include roboto;line-height:1;}

.view_count_item{display:inline-flex;gap:2px;
    &:before{display:inline-block;content:'';width:14px;height:14px;background:url("../images/ico_eye.svg") no-repeat 0 0/100% auto;}
}

.view_neighbor_row{
    margin-top:20px;
}

.view_neighbor_list{
    display:table;width:100%; border-bottom:1px solid #DDDDDD;
    >li{
        display:table-row;
        &:last-of-type{}
    }
}

.view_neighbor_cols{
    border-top:1px solid #DDDDDD; display:table-cell; vertical-align: middle;
    &.define_th{width:1px; padding:18px 16px 18px 20px;}
    &.define_td{padding:0 20px 0 0;}
}

.view_neighbor_key{display:inline-block; font-size:14px; font-weight:500; color:$primary; line-height:1.3; white-space: nowrap;}
.view_neighbor_title{font-size:16px;color:#000000; @include clamp(1); line-height:1.3; font-weight:500;}


.form_textarea_wrap{}
textarea.form_textarea{height:240px;font-size:16px;color:#333333;font-weight:500;resize: none;vertical-align: top;line-height:1.4; box-sizing: border-box;padding:6px 12px;}

.attached_file_viewer{
    > img{vertical-align: top;max-width:100%;}
}
.attached_file_list_wrap{margin:24px 0 0 0;}
.attached_file_list{
    >li{
        &:last-of-type{}
    }
}
.attached_file{display:inline-block;
    &:before{display:inline-block;content:'';width:20px;height:20px;background:url("../images/ico_addfile2.svg") no-repeat 0 0/100% auto;vertical-align: top;position:relative;top:-1px}
}
.attached_file_text{display:inline;color:#999999;font-size:14px;font-weight:500;line-height:1.3;}

.gate_item_wrap{flex:1;display:flex;flex-direction: column;justify-content: center;padding:20px;text-align: center;
    &.type2{flex:none;padding:40px 0 0 0;}
}
.btn_gate_box_list{
    display:flex; flex-direction: column; gap:16px;
    > li{
        &.active{
            .btn_gate_box{background:$primary;color:#fff;border-color:$primary;
                *{
                    color:#fff;
                }
            }
        }
    }
}

.gate_message_group{text-align: center;margin:57px 20px 20px;
    &.mtype2{
        margin:8px 0 0 0;
    }
}
.gate_message_main{font-size:24px;color:#333333; font-weight:700; word-break: keep-all;
    strong{color:$primary;word-break: keep-all;font-weight:700;}
}
.gate_message_sub{font-size:14px;color:#999999;word-break: keep-all;margin-top:16px;line-height:1.4;}



.btn_gate_box{display:flex; align-items: center; justify-content: center;min-height:90px;box-sizing: border-box; border:1px solid #999; border-radius:8px;box-sizing: border-box; padding:15px;
    &.type2{
        flex-direction: column;
    }
    &:active{
        box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);
    }
}
.btn_gate_box_text{color:$primary;line-height:1.4;display:inline-block;word-break: keep-all; font-size:18px; font-weight:700; }
.btn_gate_box_primary{color:$primary;line-height:1.4;word-break: keep-all; font-size:18px; font-weight:700;}
.btn_gate_box_secondary{color:#333;line-height:1.4;word-break: keep-all; font-size:14px; font-weight:600;margin-top:2px;}
.gate_note_row{margin-top:40px;}
.gate_note_para{font-size:14px; color:#999999;  letter-spacing: -0.5px; line-height:1.4; word-break: keep-all;}


.form_props_control_wrap{margin-top:20px;}
.form_props_list{
    display:flex; flex-wrap:wrap; gap:16px;
    > li{}
}
.btn_form_submit_wrap{
    margin-top:16px; display:flex; flex-direction: column; gap:20px;
    &.direction2{flex-direction: row;}
    &.bottom_pos{margin:20px;}
    &.mtype2{margin-top:40px;}
    &.mtype3{margin-top:0px;}
    &.mtype4{margin-top:12px;}
    & + .form_etc_menu_zone{}
    > .btn_action_box_group{padding:0;}
}
.form_etc_menu_zone{
    margin-top:20px;
    & + .btn_form_submit_wrap{}
}
.hr_line{margin:16px 0;height:30px;display:flex;justify-content: center;align-items: center;position:relative;
    &:before{display:block;content:'';width:100%;height:1px;background:#EEEEEE;position:absolute;top:50%;left:0;transform: translateY(-50%);}
}
.hr_text{background:#fff;z-indeX:2;padding:0 12px;display:inline-block; color:#DDDDDD; @include inter; font-weight:700;}
.form_text_menu_list{
    display:flex;gap:20px; justify-content: center; align-items: center;
    >li{
        position:relative;
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block;content:'';width:1px; height:15px; background:#DDDDDD; position:absolute;top:0; right:-11px;}
    }
}
.form_text_menu{display:inline-block;font-size:16px; font-weight:500; color:#000000; line-height:1;}

.form_sns_menu_list{
    display:flex; align-items: center; justify-content: center;gap:15px;
    > li{
        &:after{}
    }
}
.form_sns_menu{
    width:44px;height:44px;border-radius:100%; border-radius:100%; background-repeat: no-repeat; background-size:100% auto; background-position:0 0; display:block;
    &.ico_kakao{background-image:url("../images/ico_sns_box_kakao.png");}
    &.ico_naver{background-image:url("../images/ico_sns_box_naver.png");}
    &.ico_google{background-image:url("../images/ico_sns_box_google.png");border:1px solid #DDDDDD;}
    &.ico_face{background-image:url("../images/ico_sns_box_face.png");}
    &.ico_apple{background-image:url("../images/ico_sns_box_apple.png");}
}

.form_note_box{margin-top:30px;background:#eee;border-radius:8px; text-align: center; padding:10px;color:#999999; letter-spacing: -0.05em;line-height:1.4; word-break: keep-all; font-size:12px;
    &.type2{
        border-radius:0;margin-top:17px;
    }
}

.form_submit_message_wrap{margin:12px 0 0;text-align: center;}
.form_submit_message{font-weight:700;color:$primary;line-height:1.4;}

.count_obj_list_wrap{margin:16px 20px 20px;background:$primary;border-radius:8px;
    &.mtype2{margin-bottom:0;}
}
.count_obj_list{
    display:flex;text-align:center; justify-content: center;
    > li{flex:1;padding:16px 0;position:relative;
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block;content:'';width:1px;height:16px;background:#EEEEEE;position:absolute;top:50%;right:0;transform: translateY(-50%);}
    }
}
.count_obj_item{}
.count_obj_key{font-size:18px;color:#fff; font-weight:500;
    &.size2{font-size:14px;}
}
.count_obj_value{@include rubik_medium; font-size:24px;color:#fff;line-height:1;margin-top:5px;}


.data_tb_vitem_wrap{margin:0 20px 60px;flex:1;display:flex; flex-direction: column;}
.data_tb_vitem{border:1px solid #EEEEEE; border-radius:8px;padding:16px 20px;
    &.nodata{flex:1;border:0;border-radius:0;padding-top:60px; display:flex; flex-direction: column; justify-content: center; align-items: center;}
}
.data_tb{
    width:100%; table-layout: fixed;
    thead{
        th{
            .data_th_text{}
            border-bottom:2px solid #333333;padding:0 12px 12px;
        }
    }
    tbody{
        td{border-bottom:1px solid #EEEEEE;padding:12px;}
        tr{
            &:last-of-type{
                td{border-bottom:0;padding-bottom:0;}
            }
        }
    }
}
.data_th_text{font-size:14px;color:#333333;font-weight:600;font-weight:600;}
.data_td_text{font-size:14px;color:#999999;}

.data_noitem_wrap{}
.data_noitem_img_wrap{
    text-align: center; margin-bottom:20px;
    img{max-width:162px;margin:0 auto;}
}
.data_noitem_para{font-size:16px;color:#333333; font-weight:500;}

.sort_field_zone{margin:12px 20px 20px;}
.sort_field_row{
    &.type2{border-bottom:2px solid #333333;}
}
.sort_field_label_row{padding:0 12px;}
.sort_field_label{color:#999999;font-size:12px;line-height:1;}
.sort_field_container{display:flex;gap:8px;align-items: center;}
.sort_field_cols{flex:1;
    &.else{
        flex:0;text-align: center;
    }
}
.sort_else_text{font-size:16px;color:#333333;font-weight:500; white-space: nowrap;}


.terms_box_wrap{margin:20px 20px 60px; line-height:1.4;}
.terms_box{
    border:1px solid #EEEEEE; border-radius:8px; margin-bottom:22px; padding:20px;
    &:last-of-type{margin-bottom:0}
}
.terms_cont_group{
    margin-bottom:22px;
    &:last-of-type{margin-bottom:0}
}
.terms_cont_para,
.terms_cont_title{margin-bottom:22px;}
.terms_cont_title,
.terms_cont_article,
.terms_cont_para{color:#333333; font-size:14px; font-weight:700;}
.terms_cont_para{
    &:last-of-type{margin-bottom:0;}
}

.form_mid_btn_row{
    margin-top:20px;
}


.guide_board_box{
    border:1px solid #EEEEEE; border-radius:8px; padding:20px;margin:30px 20px 60px;
}
.data_guide_para_wrap{
    text-align: center;
    &:before{width:48px;height:48px;border-radius:100%; display:block; content:''; background:#333 url("../images/ico_search_off.svg") no-repeat 50% 50%/28px auto;margin:0 auto 20px;}
}
.data_guide_main_para{
    font-size:18px;color:#333333; line-height:1.2; word-break: keep-all;
    strong{font-size:20px;font-weight:700;word-break: keep-all;}
}
.data_guide_sub_para{font-size:16px;color:#999999;margin-top:10px;word-break: keep-all;}
.guide_board_title_wrap{
    display:flex; align-items: center; justify-content: center; gap:5px;
    &:before{display:block;content:'';width:24px;height:24px;background:url("../images/ico_tip.svg") no-repeat 0 0/100% auto; flex:0 0 24px;}
}
.guide_board_title{font-size:20px; font-weight:500; color:#333333;}

.guide_board_caption{font-size:16px; font-weight:500; color:#000000; word-break: keep-all;line-height:1.4;text-align: center;margin-top:10px;}

.guide_board_summary_group{margin-top:10px; text-align: center;}
.guide_board_summary_item{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.guide_board_summary{
    color:#999; line-height:1.4; font-size:12px;
    &.emp{font-size:14px;}
}

.api_render_wrap{flex:1; display:flex; justify-content: center; flex-direction: column; position:relative;}


.bottom_layer_wrap{}
.bottom_toggle_container{
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); position:absolute;bottom:0;left:0;width:100%;
    border-radius: 8px 8px 0px 0px;
}
.bottom_toggle_bar_row{border-bottom:1px solid #EEEEEE; display:flex;justify-content: center; border-radius:8px 8px 0 0; position:relative; overflow:hidden;
    background: #FFFFFF;}
.btn_bottom_toggle{
    display:flex;width:80px;height:24px; align-items: center; justify-content: center;
    &:after{display:block;content:'';width:60px;height:4px; background:#DDDDDD; border-radius:100px;}
}
.bottom_toggle_content_row{background: #FFFFFF;
    &.hidden{display:none;}
}
.api_result_item_list{
    > li{
        
    }
}
.api_result_btn_row{padding:0 20px 20px}
.btn_api_result{padding:20px; display:flex;gap:6px;align-items: flex-end;}
.api_result_main{font-weight:600; font-size:20px; line-height:1.3; color:#333333;}
.api_result_sub{font-size:14px; font-weight:500; line-height:1.3; color:#999999; position:relative;top:-1px;}

.terms_form_block_group{padding:0 20px 20px;}
.terms_form_block{
    margin-top:20px;
    &:last-of-type{}
}
.terms_form_title{margin-bottom:12px;text-align: center;font-size:16px; color:#333; font-weight:600;}
.terms_form_box{
    background:#eee; border-radius:8px; padding:12px;
}
.terms_form_box_para{
    margin-bottom:20px; font-size:14px; color:#999999; line-height:1.4;
    &:last-of-type{margin-bottom:0;}
}
.terms_form_props_row{
    margin-top:12px;
    .props_item{}
}

.view_article_group{
    border-bottom:1px solid #ddd;
    &:last-of-type{border-bottom:0;}
}
.view_article_summary_wrap{padding:16px 20px;border-bottom:1px solid $primary;}
.view_article_title_group{}
.view_article_flag_row{
    margin-bottom:5px; display:flex; flex-wrap:wrap; gap:10px;
    .flag_box{}
}
.view_article_title{font-size:20px;color:#333333; font-weight:700; letter-spacing: -0.05em;}
.view_article_summary_group{margin-top:20px;}
.view_article_summary_list{
    >li{
        color:#999999; font-size:14px;letter-spacing:-0.05em; margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}
.view_article_exact_wrap{padding:20px;}
.view_article_exact_render{font-size:14px;color:#333;word-break: break-all;line-height:1.5; font-weight:500;
    *{word-break: break-all;}
    img{width:auto !important; height: auto !important;}
}
.upload_file_render_box{background:#F6F6F6;border-radius:8px;padding:16px;margin-top:20px;}
.upload_file_item_list{
    >li{
        margin-bottom:20px;
        &:last-of-type{margin-bottom:0;}
    }
}
.upload_file_item{
    font-size:14px; display:inline-flex;gap:3px;
    &:before{}
}
.upload_file_text{color:$primary;font-size:14px; font-weight:500;line-height:1.4;}
.ico_upload{flex:0 0 20px;width:20px;height:20px;background:url("../images/ico_addfile.svg") no-repeat 0 0/100% auto;}


.view_middle_wrap{
    height:100%;
    .middle_title_row{}
    .view_contents_wrap{}
}


.middle_notice_wrap{display:flex;align-items: center;gap:20px;margin-top:20px;}
.middle_notice_long_cols{
    flex:1;min-width:0;
    .form_note_list{margin-top:0;
        >li{
            &:before{top:50%;transform: translateY(-50%);}
        }
    }
}
.middle_notice_short_cols{
    .btn_quad_box{}
}

.clause_box{border:1px solid #EEEEEE;border-radius: 8px;padding:20px;margin:20px 20px 0;}
.clause_block{
    color:#333333; margin-bottom:30px; font-weight:700; font-size:14px;letter-spacing:-0.05em; line-height:1.6;
    &:last-of-type{margin-bottom:0;}
}

.clause_brick{
    margin-bottom:30px; line-height:1.6;
    &:last-of-type{margin-bottom:0;}
}

.clause_brick_title{
    margin-bottom:10px; color:#333333; font-size:14px; font-weight:700;
    &.big{
        font-size: 16px;
        & + .clause_brick_title{margin-top:20px;}
    }
}

.clause_brick_tsub{font-size:14px;color:$primary;}

.clause_brick_content{font-size:12px;color:#999999; font-weight:500;
    > .clause_copy_para{}
}


.clause_liquid_wrap{margin:20px 20px 20px;}
.clause_liquid{margin-bottom:30px;
    &:last-of-type{margin-bottom:0;}
}
.clause_liquid_title{font-size:14px;color:$primary;font-weight:700;margin-bottom:5px;}
.clause_liquid_content{font-size:16px;color:#333333}


.clause_box_wrap{
    .clause_box{}
}
.clause_copy_para_wrap{
    .clause_copy_para{
        margin-bottom:20px;
        &:last-of-type{margin-bottom:0}
    }
}
.clause_copy_vitem{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
    .clause_copy_para{}
}
.clause_td_vitem_emp{color:#333;font-size:12px; font-weight:500;}
.td_vitem{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.clause_copy_para{color:#999; font-size:12px; font-weight:500; line-height:1.5;}
.clause_ico_item_list{
    margin:30px -16px 0 0; display:flex; flex-wrap:wrap; gap:20px 16px; text-align: center;
    >li{
        flex:0 0 calc(33.3333333% - 16px); box-sizing: border-box;
        &:last-of-type{}
    }
}
.clause_imp_para{color:#FF3E4C; font-size:10px;}
.clause_ico_item{
    &:before{display:block;content:'';margin:0 auto 8px;width:83px;height:83px; border-radius: 100%; box-sizing: border-box; border:1px solid #eee; background-position:50% 50%; background-repeat:no-repeat; background-size:82px auto;}
    &.ico_01{
        &:before{background-image:url("../images/ico_per_01.png");}
    }
    &.ico_02{
        &:before{background-image:url("../images/ico_per_02.png");}
    }
    &.ico_03{
        &:before{background-image:url("../images/ico_per_03.png");}
    }
    &.ico_04{
        &:before{background-image:url("../images/ico_per_04.png");}
    }
    &.ico_05{
        &:before{background-image:url("../images/ico_per_05.png");}
    }
    &.ico_06{
        &:before{background-image:url("../images/ico_per_06.png");}
    }
}
.clause_ico_text{font-size:12px;color:#333333; font-weight:500; word-break: keep-all;}

.clause_tb_wrap{margin:-8px;}
.clause_tb{
    display:table; border-collapse:  separate; border-spacing: 8px; width:100%;
    tr{}
    th,td{background:#F6F6F6; position:relative;}
    th{  white-space: nowrap; padding:8px 8px 8px 16px;
        &:first-of-type{
            border-radius:8px 0 0 8px;
        }
        &:after{display:block;content:'';width:8px;height:100%; position:absolute;top:0;right:-8px;background:#F6F6F6}
    }
    td{text-align: left; padding:8px; position:relative;
        &:last-of-type{
            border-radius:0 8px 8px 0; padding:8px 16px 8px 0;
            &:after{display:none;}
        } 
        &:after{display:block;content:'';width:8px;height:100%; position:absolute;top:0;right:-8px;background:#F6F6F6}

        &.align_type2{text-align: center;}
    }
}
.text_emp{
    font-weight:500;
    &.red{color:#FF3E4C;}
    &.blue{color:#0056DF;}
}
.clause_thtext{font-size:12px; font-weight:700; color:#333333;}
.clause_tdtext_wrap{
    .clause_tdtext{margin-bottom:15px;
        &:last-of-type{margin-bottom:0;}
    }
}
.clause_tdtext{
    font-size:10px; color:#666666; 
    &:last-of-type{}
}

.clause_guide_box_wrap{
    margin-top:8px;
}
.clause_guide_box_list{
    display:flex; flex-wrap:wrap; text-align: center; gap:8px; margin-right:-8px;
    >li{
        background:#F6F6F6; border-radius:8px; padding:10px; flex:0 0 calc(33.33333% - 8px); box-sizing: border-box;
        &.type2{flex:0 0 calc(50% - 8px);}
        &:last-of-type{}
    }
}
.gbox_dt{
    margin-bottom:3px; font-size:12px; font-weight:700; color:#333333;
}
.gbox_dd{
    &:last-of-type{}
}

.clause_process_map_wrap{margin-top:10px;}
.clause_process_map_list{
    > li{
        &:last-of-type{}
    }
}

.cpmap_one{
    background:#00D4E9; color:#fff; text-align: center; border-radius:100px; padding:18px 18px 16px;
}
.cpmap_two_list{
    display:flex; gap:16px; margin-top:16px;
    >li{
        flex: 1;
        &:last-of-type{}
    }
}
.cpmap_two{
    background:#fff; border:1px solid #00D4E9; color:#00D4E9; text-align: center; word-break:keep-all;  font-weight:500; border-radius:100px; padding:15px 0 13px; display:block; position:relative;
    &:before{display:block;content:'';width:1px;height:16px;background:#00D4E9; position:absolute;top:-17px;left:50%;}
}
.cpmap_dep_list{
    margin-top:16px;
    >li{
        &:last-of-type{}
    }
}
.cpmap_dep{
    background:#EEEEEE; padding:8px; color:#333333; font-size:10px; font-weight:500; text-align: center; border-radius:100px; position:relative; box-sizing: border-box;  display:flex; align-items: center; justify-content: center;
    &:before{display:block;content:'';width:1px;height:16px;background:#eee; position:absolute;top:-16px;left:50%;}
}
.cpmap_deptail_list{
    gap:8px; display:flex; margin-right:-8px; margin-top:16px;
    >li{
        flex: 0 0 calc(50% - 8px);
        &:last-of-type{}
    }
}
.cpmap_deptail_item{
    border:1px solid #999999; font-size:10px; word-break: break-all; border-radius:16px; word-break:keep-all; text-align: center; box-sizing:border-box; color:#333333; position:relative;  height:100%; box-sizing: border-box; padding:8px; display:flex; align-items: center; justify-content: center;
    &:before{display:block;content:'';width:1px;height:16px;background:#999999; position:absolute;top:-17px;left:50%;}
}

.clause_emp_box{
    background:#F6F6F6; border-radius:8px; padding:12px; margin-top:10px;
}
.clause_eb_para{
    color:#333333;
}
.clause_eb_imp_para{font-size:10px; color:#FF3E4C;}

.clause_emp_box_list{
    >li{
        &:last-of-type{}
    }
}
.clause_emp_box{}
.clause_emp_title{font-size:12px; font-weight:700;color:#333;margin-bottom:3px;}
.clause_emp_contents{}

.clause_inner_block_wrap{margin-top:10px;}
.clause_inner_block{
    margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
}
.clause_inner_title{font-size:16px; color:#333; font-weight:600;}
.clause_inner_contents{
    .clause_tb_wrap{}
}

@media (max-width:374px){
    .clause_ico_item{
        &:before{width:65px;height:65px;background-size:62px auto;}
        
    }
    .cpmap_two_list{gap:10px;}
    
    .cpmap_deptail_item{padding:8px;}
    .cpmap_deptail_list{gap:2px;margin-right:-2px;
        > li{flex:0 0 calc(50% - 2px);}
    }
}
@media (max-width:359px){
    .clause_process_map_list{
        br{display:none;}
    }
}