/* contents */
.main_contents_wrap{display:flex;flex-direction: column;height:100%;box-sizing: border-box;padding:0 24px 24px;}
.mc_liquid_row{flex:1;display:flex;align-items: center;padding:24px 0;}
.mc_pixed_row{flex:0;display:flex;flex-direction: column;gap:68px;}
.mc_main_copy{
    font-weight: 200;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    word-break: keep-all;
    color: #FFFFFF;
}
.mc_card_banner_list{
    display:flex; flex-direction: column; gap: 16px;
    >li{display:flex;justify-content: flex-end;}
}
.mc_card_banner{display:flex;padding:16px;border-radius:16px;background:#00D4E9; box-sizing: border-box;width:200px; align-items: flex-end;
    &.type2{
        background:$primary;
        &:after{
            background-image:url("../images/ico_mcimg_02.png");
        }
    }
    &:after{
        display:block;content:'';width:65px;height:48px;background:url("../images/ico_mcimg_01.png") no-repeat 0 0/100% auto;flex:0 0 65px;
    }
}
.mc_card_copy_cols{
    flex:1;min-width:0;
    &:after{display:block;content:'';width:24px;height:24px;background:url("../images/ico_direct_go.svg") no-repeat 0 0/100% auto;margin-top:6px;}
}
.mc_card_copy{font-size:16px;color:#333333; line-height:1.3;font-weight:600;}

.mc_quad_menu_list{
    display:flex; gap:12px;
    > li{flex:1;}
}
.mc_quad_menu{
    display:block;text-align:center; padding:17px 0;
    .ico{
        width:24px;height:24px;background:url("../images/ico_quick_01.svg") no-repeat 50% 50%/100% auto;margin:0 auto;
        &.ico_docu{background-image:url("../images/ico_quick_01.svg");}
        &.ico_chart{background-image:url("../images/ico_quick_02.svg");}
        &.ico_notice{background-image:url("../images/ico_quick_03.svg");}
    }
    border-radius:16px;background:rgba(0,0,0,.4);display:block;
}
.mc_quad_text{font-size:14px;color:#fff;line-height:1; font-weight:500;margin-top:8px;}


.form_step_list_wrap{padding:20px;display:flex;gap:12px;justify-content: space-between;}
.form_step_list_cols{}
.form_step_active_list{
    display:flex;gap:12px; flex-wrap:wrap;
    >li{}
    .form_step_item{
        .form_step_number{background:$primary; color:#333;}
    }
}
.form_step_beactive_list{
    display:flex;gap:12px; flex-wrap:wrap;
    >li{}
}
.form_step_item{display:flex; align-items: center;gap:8px;overflow:hidden;width:32px;height:32px;white-space: nowrap;
    &.current{width:auto;height:auto;
        
    }
}
.form_step_number{display:flex;justify-content: center;align-items: center;width:32px;height:32px;flex:0 0 32px;border-radius: 100%; @include rubik_medium; background:#EEEEEE; color:#ccc;font-size:14px;}
.form_step_text{font-size:14px;color:#333333; font-weight:700;}

.form_step_contents_wrap{padding:12px 20px 20px;flex:1;flex-direction: column;}
.form_step_title{font-size:18px;color:#333333;font-weight:700;line-height:1.3;}
.form_step_contents{padding:20px 0 0}
.form_step_block{
    .form_step_title{}
    .form_step_contents{}
    &:last-of-type{}
}

.step_guide_copy_zone{margin:93px 20px;text-align: center;}
.step_guide_copy_img{
    max-width:148px;margin:0 auto;
    img{vertical-align: top;}
}
.step_guide_copy_group{
    &.type2{
        .step_guide_copy{margin-top:0;}
    }
}
.step_guide_copy{
    margin-top:20px; font-size:16px; color:#333333; font-weight:500;
    strong{color:#00D4E9; font-weight:700;}
}

.form_column_container{text-align: left;}
.form_column_table{
    >li{
        margin-bottom:32px;
        &:last-of-type{margin-bottom:0;}
    }
}
.form_column_item{border-bottom:2px solid #333333;
    &.box_type{
        border:1px solid #EEEEEE; border-radius:8px; padding:12px 0 0; position:relative; overflow: hidden;
        .form_column_label{}
    }
}
.form_column_label{margin:0 12px;font-weight:600;color:#999999;}
.form_column_field_row{
    input.form_input{}
    .form_note_list{}
}

.form_each_message_wrap{margin-top:10px;}
.form_each_message{
    display:block; position:relative; padding:1px 0 0 18px;
    &:before{display:block;content:'';width:16px;height:16px;background:url("../images/ico_info_sky.svg") no-repeat 50% 50%/100% auto; position:absolute;top:0;left:0;}
    color:#00D4E9; font-weight:600; font-size:12px;
}

.form_column_message_wrap{margin:24px 0 0 0;}
.form_column_message{font-size:14px; letter-spacing: -0.5px; color:$primary; line-height:1.4;}

.boxform_textarea_wrap{}
.boxform_textarea{vertical-align: top;font-size:16px; resize: none;padding:12px; border:0;width:100%; height:150px; box-sizing: border-box;
    &::-webkit-input-placeholder{color:#ddd;font-family: 'Pretendard'; font-weight:400;}
    &::-moz-input-placeholder{color:#ddd;font-family: 'Pretendard'; font-weight:400;}
    &:-ms-input-placeholder{color:#ddd;font-family: 'Pretendard'; font-weight:400;}
    &::-ms-input-placeholder{color:#ddd;font-family: 'Pretendard'; font-weight:400;}
    &::input-placeholder{color:#ddd;font-family: 'Pretendard'; font-weight:400;}
}

.form_props_list{
    > li{}
}
.form_props_box{

}
input.form_props_element{
    &:checked{

        & + .form_props_elabel{
            &:after{}
        }
    }
}
.form_props_elabel{
    &:after{}
}

.field_sub_form_wrap{
    .props_item{}
}

.btn_upload{
    &.btn_file_upload{}
    &.btn_camera{}
}

.form_note_list{
    >li{
        &:before{}
        &:last-of-type{}
    }
}


.upload_item_box_list{
    > li{}
}
.upload_item_box{
    img{}
}
.btn_upload_delete{}

.clauses_form_container{margin-top:20px;}
.clauses_form_list{
    >li{
        display : flex; align-items: center; justify-content: space-between; margin-bottom:18px;
        &:last-of-type{margin-bottom:0;}
        .props_item{position:relative;top:1px;}
    }
}
.props_else_group{
    .btn_text_link{}
}

.emp_tape_copy_box{margin-top:16px;background:rgba(254,183,0,.2);padding:20px; text-align: center;}
.emp_tape_copy{font-size:24px; font-weight:500; color:#333333; line-height:1.3; letter-spacing: -0.05em; word-break: keep-all; font-weight: 500;}
.emp_tape_else_wrap{
    margin-top:8px;
    .current_text{}
}

.bar_chart_group{
    padding:40px 20px;
    &.before{
        .current_fraction{display:none;}
        .indent_chart_item{}
        .indent_chart_num{opacity:0;}
        .indent_chart_value{font-size:16px;color:#666666;}
        .data_chart_number_group{display:none;}
    }
}
.bar_chart_item{
    margin-bottom:8px; background:#F5F5F5; box-sizing:border-box;padding:16px; border-radius:8px; min-height:54px; position:relative; overflow:hidden; display:flex; justify-content: space-between; align-items: center;
    &:last-of-type{margin-bottom:0;}

    &.type2{
        opacity:.4;
        .current_fraction{}
        .indent_chart_item{}
        .data_chart_number_group{}
    }
}
.current_fraction{position:absolute;top:0;left:0;height:100%;background-color:$primary}
.bar_chart_cols{position:relative;z-index:1;}
.indent_chart_item{display:flex;gap:8px; align-items: center;}
.indent_chart_num{font-size:18px; color:#CB6000; font-weight:900;white-space: nowrap; @include roboto;font-weight: 700;}
.indent_chart_value{font-size:18px; font-weight:500; letter-spacing: -0.05em; color:#333;}
.data_chart_number_group{display:flex; font-size:18px; align-items: center; white-space: nowrap; gap:4px; color:#CB6000; opacity:.6;  @include roboto;}
.data_chart_number,
.data_chart_unit{font-size:18px; font-weight:900;}

.board_sort_field_wrap{border-bottom:3px solid $primary;display:flex;align-items: center;gap:16px;margin:0 20px;}
.board_sort_field_cols{
    flex:1;display:flex; align-items: center;
    &.short_wid{flex:0 0 88px;
        select.board_select{width:100%;}
    }
}




.input_sort_wrap{flex:1;min-width:0;}
input.input_sort{appearance: none;width:100%;box-sizing: border-box; line-height:1; font-size:14px; color:#333;border:0;height:45px;}
.btn_board_sort{display:block;width:45px;height:45px;background:url("../images/ico_search.svg") no-repeat 50% 50%/24px auto;flex:0 0 45px;}

/* .board_item_list_wrap{margin:0 20px 50px;}
.board_item_list{
    > li{
        padding:32px 0;border-bottom:1px solid #E1E1E1;
        &:last-of-type{}
        &.nodata_li{
            padding:100px 20px;
            .nodata_para{text-align: center;font-size:14px;color:#999999;}
        }
    }
}
.nodata_para{} */

.board_data_item{
    display:flex; gap:15px; align-items: center;
    &.type2{
        .board_data_long_cols{}
        .board_data_short_cols{
            .current_text{color:#999999}
        }
        .board_data_title{color:#999;}
        .board_data_else{color:#bbb;}
    }
}
.board_data_long_cols{flex:1; min-width:0;}
.board_data_short_cols{
    flex:0;
}
.current_text{display:inline-block;white-space: nowrap;font-size:14px;font-weight:700;color:$primary;line-height:1;}
.board_data_title{font-size:16px; @include clamp(2); color:#000; line-height:1.3; font-weight:500;}
.board_data_else{font-size:14px; color:#999999;line-height:1.3;margin-top:12px;
    &.number{@include roboto;}
}


.board_item_list_wrap{flex:1;padding:0 20px 50px;display:flex; flex-direction: column;}
.board_item_list{
    display:flex; flex-direction: column; flex:1;
    >li{
        border-bottom:1px solid #E1E1E1;padding:20px 0;
        &:last-of-type{border-bottom:0;}
        &.nodata_li{
            /* padding:100px 20px; */box-sizing:border-box; flex:1; display:flex; align-items: center; width:100%; justify-content: center; margin-bottom:-38px; box-sizing: border-box;
            /* .nodata_para{text-align: center;font-size:14px;color:#999999;} */
        }
    }
}
.nodata_para_group{text-align: center;
}
.nodata_para{font-size:16px;color:#333333;}
.nodata_para_img_wrap{
    text-align: center; margin-bottom:20px;
    img{
        vertical-align: top;
        &.nodata_img{
            &.img_bell{max-width:88px;}
        }
    }
}
.board_item{

}
.board_flag_row{
    .flag_box{}
}

.board_main_title{font-size:16px; color:#000000; @include clamp(1); font-weight:500;margin-top:8px;}
.board_else_row{margin-top:16px;}
.board_else_data_list{
    display:flex;gap:8px; align-items: center;
    >li{
        &.type2{
            flex:1; display:flex; justify-content: flex-end;
        }
    }
}
.board_else_data{font-size:14px;color:#999999;line-height:1;display:inline-block; font-weight:500;
    &.number{@include roboto;}
}
.board_else_count{display:inline-flex;gap:2px;
    &:before{display:inline-block;content:'';width:14px;height:14px;background:url("../images/ico_eye.svg") no-repeat 0 0/100% auto;}
}
.board_else_count_text{font-size:14px;color:#999999;line-height:1;display:inline-block; @include roboto;}
.ico_board{
    &.eye{}
}

.view_contents_wrap{
   flex:1; display:flex; flex-direction: column;
}
.view_top_group{border-bottom:1px solid #FEB700;padding:16px 20px;}
.view_top_flag_row{
    margin-bottom:5px;
    .flag_box{}
}
.view_top_title{font-size:20px;color:#333;line-height:1.3; font-weight:700;}
.view_top_else{font-size:14px;color:#999999;line-height:1;display:inline-block; @include roboto; margin-top:13px;}
.view_data_render{
    flex:1; min-height:0;padding:20px 20px 50px; font-size:14px;color:#333333; line-height:1.5;
    *{word-break: break-all !important;}
    img{width:auto !important; height: auto !important; max-width:100% !important;}
}

.view_linkage_row{
    display:flex; justify-content: flex-end; padding:0 20px;
}
.view_count_text{font-size:14px;color:#999999; @include roboto;line-height:1;}

.view_count_item{display:inline-flex;gap:2px;
    &:before{display:inline-block;content:'';width:14px;height:14px;background:url("../images/ico_eye.svg") no-repeat 0 0/100% auto;}
}

.view_neighbor_row{
    margin-top:20px;
}

.view_neighbor_list{
    display:table;width:100%; border-bottom:1px solid #DDDDDD;
    >li{
        display:table-row;
        &:last-of-type{}
    }
}

.view_neighbor_cols{
    border-top:1px solid #DDDDDD; display:table-cell; vertical-align: middle;
    &.define_th{width:1px; padding:18px 16px 18px 20px;}
    &.define_td{padding:0 20px 0 0;}
}

.view_neighbor_key{display:inline-block; font-size:14px; font-weight:500; color:$primary; line-height:1.3; white-space: nowrap;}
.view_neighbor_title{font-size:16px;color:#000000; @include clamp(1); line-height:1.3; font-weight:500;}


.form_textarea_wrap{}
.form_textarea{}

.attached_file_viewer{
    > img{vertical-align: top;max-width:100%;}
}
.attached_file_list_wrap{margin:24px 0 0 0;}
.attached_file_list{
    >li{
        &:last-of-type{}
    }
}
.attached_file{display:inline-block;
    &:before{display:inline-block;content:'';width:20px;height:20px;background:url("../images/ico_addfile2.svg") no-repeat 0 0/100% auto;vertical-align: top;position:relative;top:-1px}
}
.attached_file_text{display:inline;color:#999999;font-size:14px;font-weight:500;line-height:1.3;}

.gate_item_wrap{flex:1;display:flex;flex-direction: column;justify-content: center;padding:20px;text-align: center;}
.btn_gate_box_list{
    display:flex; flex-direction: column; gap:16px;
    > li{}
}
.btn_gate_box{display:flex; align-items: center; justify-content: center;min-height:90px;box-sizing: border-box; border:1px solid #999; border-radius:8px;box-sizing: border-box; padding:15px;}
.btn_gate_box_text{color:$primary;line-height:1.4;display:inline-block;word-break: keep-all; font-size:18px; font-weight:700; }
.gate_note_row{margin-top:40px;}
.gate_note_para{font-size:14px; color:#999999;  letter-spacing: -0.5px; line-height:1.4; word-break: keep-all;}